body{
    background-color: whitesmoke;
    
}

    #pop1{
    text-align:center;
    color: green;
    
}
#info1{
   text-align: center;
    color:orchid;
}



img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}